* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
}

body {
  background: #F9F9FE;
}
header {
  display: flex;
  justify-content: center;
}
.enter-text {
  margin: 50px;
  padding: 20px;
  width: 300px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background-color: #008FF7;
  color: white
}
.enter-text::placeholder {
  color: white
}

.text {
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #D9D9D9;
  background-color: white;
  border-radius: 4px;
  position: relative;
  min-height: 58px;
}
.text p {
  width: 100%;
}

.focus {
  background-color: #008FF7;
  color: white;
}


/* .add {
  background: #adc25b;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
} */


  .block {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }



  .modify {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80%;
    outline: none;
    border: 0;
    z-index: 3;
    background-color: #008FF7;
  }

  li {
    position: relative;
    margin: 20px;
  }

  .delete {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  ::-moz-selection { /* Code for Firefox */
    background: yellow;
  }

  ::selection {
    background: yellow;
  }
