* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  font-family: sans-serif;
}

/* body {
  margin: 30px;
} */

.text {
  padding: 10px;
  margin-bottom: 15px;
  background: lightgrey;
}

/* .add {
  background: #adc25b;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;

} */

.enter-text {
  margin: 20px;
  width: 150px;
}
.modify {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 0;
}

li {
  position: relative;
  margin: 20px;
}

.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
  background: yellow;
}

::selection {
  background: yellow;
}
